<nav>
  <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/data">DATA</a></li>
    <li><a href="/data/search/isbn">SEARCH BY IPTV</a></li>
    <li><a href="/data/search/title">SEARCH BY  TITLE</a></li>
    <li><a href="/data">ALL IPTV</a></li>
    
  </ul>
</nav>