<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='css/style.css' />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <meta name="description" content="{{title}}">
    <link rel="icon" href="./img/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="container">
    {{> navigation }}
    <main>
      {{{body}}}
    </main>
    <footer>
     
      </p>
Made with <img src="./img/heart.svg" alt="heart" size width="15px" height="15px"> in UAE By <a href="https://helloasir.github.io" target="_blank">Hello Asir</a> Team . Serving through <a href="https://railway.app" target="_blank">Railway App</a> . Hosted on <a href="https://github.com" target="_blank">Github</a>.
</div>
</footer>
    </footer></div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/umd/popper.min.js"></script>
  </body>
</html>
