<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="description" content="{{title}}">
  </head>
  <body>
    <header>
      IPTV Channel Database
    </header>
    {{> navigation }}
    <main>
      {{{body}}}
    </main>
    <footer>
      <p>  &copy; 2022 Copyright: <a href="mailto:helloasir@gmail.com">helloasir@gmail.com</a></p>
    </footer>
  </body>
</html>
