<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='css/style.css' />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <meta name="description" content="{{title}}">
  </head>
  <body>
    <div class="container">
    {{> navigation }}
    <main>
      {{{body}}}
    </main>
    <footer>
      <p>  &copy; 2022 Copyright: <a href="mailto:helloasir@gmail.com">helloasir@gmail.com</a></p>
    </footer></div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/umd/popper.min.js"></script>
  </body>
</html>
